<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="UTF-8">
    <title>Статистика обработок</title>
</head>
<body>
<div class="container">
<h1>История учета лошадей</h1>

<table border="1" cellpadding="5">
    <tr>
        <th>Дата</th>
        <th>Файл</th>
        <th>Количество лошадей</th>
        <th>Время (сек)</th>
    </tr>

    {% for item in data %}
    <tr>
        <td>{{ item.date }}</td>
        <td>{{ item.filename }}</td>
        <td>{{ item.horses_detected }}</td>
        <td>{{ item.processing_time }}</td>
    </tr>
    {% endfor %}
</table>

<br>
<a href="/">← Назад</a>
</div>
</body>
</html>
